---
import { Image } from "astro:assets";
import PortadaGemini from "../assets/portada_gemini.png";
import PortadaYouTube from "../assets/portada_youtube.png";
import PortadaEdmi3D from "../assets/portada_edmi3d.png";
import ArrowIcon from "../icons/ArrowIcon.astro";

const projects = [
    {
        title: "Web EDMI 3D",
        href: "https://edmi3d.netlify.app/",
        image: PortadaEdmi3D,
        description:
            "Sitio web dise침ado para EDMI 3D, un emprendimiento dedicado a la creaci칩n de figuras y material personalizado mediante impresi칩n 3D.",
    },
    {
        title: "Prototipo Gemini Clone",
        href: "https://gemini-clone-dg3017.netlify.app/",
        image: PortadaGemini,
        description:
            "Prototipo de aplicaci칩n web que utiliza la API de Gemini Flash 2.5 para generar respuestas inteligentes en tiempo real. Desarrollada con React y Tailwind CSS.",
    },
    {
        title: "Prototipo YouTube Clone",
        href: "https://clone-youtube-dg.netlify.app/",
        image: PortadaYouTube,
        description:
            "Clon funcional de la interfaz de YouTube, desarrollado con React y Tailwind CSS. Permite explorar videos simulados, navegar por secciones y probar una experiencia de usuario responsiva e intuitiva.",
    },
];
---

<div
    class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] place-items-center gap-4"
>
    {
        projects.map(({ title, href, image, description }) => (
            <article class="flex flex-col h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href={href}>
                    <Image
                        src={image}
                        alt=""
                        class="w-full object-cover aspect-video"
                    />
                </a>
                <div class="flex flex-col p-5 flex-grow">
                    <a href={href}>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {title}
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {description}
                    </p>
                    <div class="mt-auto">
                        <a
                            href={href}
                            target="_blank"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white
                        bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none
                        focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
                        cursor-pointer"
                        >
                            Conoce el proyecto
                            <ArrowIcon size="size-6" />
                        </a>
                    </div>
                </div>
            </article>
        ))
    }
</div>
