---
import { Image } from "astro:assets";
import Portada01 from "../assets/portada_01.png";
import Portada02 from "../assets/portada_02.png";
import Portada03 from "../assets/portada_03.png";
import PortadaGemini from "../assets/portada_gemini.png";
import ArrowIcon from "../icons/ArrowIcon.astro";

const projects = [
    {
        title: "Prototipo Gemini Clone",
        href: "https://gemini-clone-dg3017.netlify.app/",
        image: PortadaGemini,
        description: `Prototipo de aplicación web que utiliza la API de Gemini Flash 2.5 para generar respuestas inteligentes en tiempo real. Desarrollada con React y Tailwind CSS.`,
    },
    {
        title: "Proyecto Residencial",
        href: "https://residential-builder.netlify.app/",
        image: Portada01,
        description: `Sitio web desarrollado con React y Tailwind CSS inspirado en un diseño de arquitectura residencial. Enfocado en la presentación visual de proyectos inmobiliarios, con navegación fluida, estructura modular y diseño responsivo.`,
    },
    {
        title: "Tienda de muebles",
        href: "https://furniture-store-dg3017.netlify.app/",
        image: Portada02,
        description: `Landing page desarrollada con React y Tailwind CSS, utilizando componentes reutilizables, diseño mobile-first y sintaxis moderna de JavaScript.`,
    },
    {
        title: "Galería de Imágenes",
        href: "https://image-gallery-dg3017.netlify.app/",
        image: Portada03,
        description: `Aplicación desarrollada con React y Tailwind CSS que utiliza la API de Unsplash para mostrar una galería dinámica de imágenes. Permite explorar fotografías de alta calidad, búsqueda interactiva y diseño responsivo para una experiencia visual atractiva.`,
    },
];
---

<div
    class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] place-items-center gap-4"
>
    {
        projects.map(({ title, href, image, description }) => (
            <article class="flex flex-col h-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <a target="_blank" href={href}>
                    <Image
                        src={image}
                        alt=""
                        class="w-full object-cover aspect-video"
                    />
                </a>
                <div class="flex flex-col p-5 flex-grow">
                    <a href={href}>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {title}
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {description}
                    </p>
                    <div class="mt-auto">
                        <a
                            href={href}
                            target="_blank"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white
                        bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none
                        focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
                        cursor-pointer"
                        >
                            Conoce el proyecto
                            <ArrowIcon size="size-6" />
                        </a>
                    </div>
                </div>
            </article>
        ))
    }
</div>
